
body {
    font-family: Verdana;
    font-size: 11px;
    width: 900px;
    margin-left:auto;
    margin-right:auto;
}
.nav-menu {
    display: block;
    width: 100%;
    overflow: hidden;
}
.nav-menu ul {
    width: 100%;
    box-sizing: border-box;
    border: 5px solid transparent;
    -webkit-padding-start: 0px;
    float: left;
    list-style: none;
    background: #DFDFDF;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    margin: 0px;
}
.nav-menu li {
    float:left;
    width: 14.28571428571429%;
    /*width: 16.65%;*/
}
.nav-menu a {
    width: 100%;
    text-align: center;
    float:left;
    padding: 9px 0px;
    text-decoration: none;
    color: #555;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    font-weight: bold;
    letter-spacing: .2px;
    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;
    border-color: #fff #ccc #999 #eee;
    background: #c1c1c1;
    background: -moz-linear-gradient(#f5f5f5, #c1c1c1);
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#c1c1c1));
    background: -webkit-linear-gradient(#f5f5f5, #c1c1c1);
    background: -o-linear-gradient(#f5f5f5, #c1c1c1);
    background: -ms-linear-gradient(#f5f5f5, #c1c1c1);
    background: linear-gradient(#f5f5f5, #c1c1c1);
    cursor: pointer;
}
.nav-menu a:hover, .nav-menu a:focus {
    outline: 0;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    background: #fac754;
    background: -moz-linear-gradient(#fac754, #f8ac00);
    background: -webkit-gradient(linear, left top, left bottom, from(#fac754), to(#f8ac00));
    background: -webkit-linear-gradient(#fac754, #f8ac00);
    background: -o-linear-gradient(#fac754, #f8ac00);
    background: -ms-linear-gradient(#fac754, #f8ac00);
    background: linear-gradient(#fac754, #f8ac00);
}
.nav-menu a:active {
    -moz-box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
}
.nav-menu li:first-child a {
    border-left: 0;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;            
}
.nav-menu li:last-child a {
    border-right: 0;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;            
}
.btn {
    display:block;
    float:left;
    margin:0 4px 0 0;
    background-color:#f5f5f5;
    border: 1px solid #9F9F9F;
    border-top:1px solid #D0D0D0;
    border-left:1px solid #D0D0D0;
    font-family: Verdana;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color: #000000;
    cursor:pointer;
    padding:5px 10px 6px 7px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    border-radius: 3px;
}

.btn {
    display:block;
    float:left;
    margin:0 4px 0 0;
    background-color:#f5f5f5;
    border: 1px solid #9F9F9F;
    border-top:1px solid #D0D0D0;
    border-left:1px solid #D0D0D0;
    font-family: Verdana;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color: #000000;
    cursor:pointer;
    padding:5px 10px 6px 7px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    border-radius: 3px;
}

.btnFk {
    display:block;
    width: 25px;
    height: 25px;
    float:left;
    margin:0 4px 0 2px;
    background-color:#f5f5f5;
    border: 1px solid #9F9F9F;
    border-top:1px solid #D0D0D0;
    border-left:1px solid #D0D0D0;
    font-family: Verdana;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color: #000000;
    cursor:pointer;
    padding:5px 10px 6px 7px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    border-radius: 3px;
}
.btnFk img {
    margin: -2px 0px 0px -3px !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}
.btn img {
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}
.btn:hover {
    background-color:#dff4ff;
    border:1px solid #6299c5;
    color:#336699;
}
.btn:active {
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}
.btn-desabilitado {
    display:block;
    float:left;
    margin:0 4px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    font-family: Verdana;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color: darkgrey;
    cursor:pointer;
    padding:5px 10px 6px 7px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    border-radius: 3px;
}
.btn-desabilitado img {
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
    opacity: .4;
}
input[type="text"] {
    border-radius: 2px;
}
.tbl {
    border-collapse: collapse;
    min-width: 100%;
}
.tbl thead {
    position: static;
}
.tbl thead tr {
    background:linear-gradient(#F6F6F6, #DFDFDF);
    background: #F6F6F6;
    background: -moz-linear-gradient(#F6F6F6, #DFDFDF);
    background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#DFDFDF));
    background: -webkit-linear-gradient(#F6F6F6, #DFDFDF);
    background: -o-linear-gradient(#F6F6F6, #DFDFDF);
    background: -ms-linear-gradient(#F6F6F6, #DFDFDF);
    background: linear-gradient(#F6F6F6, #DFDFDF);
}
.tbl tbody tr {
    cursor: pointer;
}
.tbl th, .tbl td {
    border: 1px solid gray;
    padding: 6px;
    white-space: nowrap;
}
.linha-selecionada {
    background: #DFF4FF;
}
.campo-readonly {
    background:#F0F0F0;
}
select {
    font-family: Verdana;
    font-size: 11px;
    height: 21px;
    margin-top: 2px;
}
.barra-botoes {
    border:1px solid gray;
    border-radius:3px;
    padding:4px;
    background:linear-gradient(#F6F6F6, #DFDFDF);
    background: #F6F6F6;
    background: -moz-linear-gradient(#F6F6F6, #DFDFDF);
    background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#DFDFDF));
    background: -webkit-linear-gradient(#F6F6F6, #DFDFDF);
    background: -o-linear-gradient(#F6F6F6, #DFDFDF);
    background: -ms-linear-gradient(#F6F6F6, #DFDFDF);
    background: linear-gradient(#F6F6F6, #DFDFDF);
}
.div-conteudo {
    padding:6px 0px 8px 0px;
}
.alinha-centro {
    text-align: center;
}
.div-bloqueio {
    background: darkgray;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 99;
    opacity: .8;
}
.div-dialog {
    position: absolute;
    top: 8%;
    bottom: 8%;
    width: 651px;
    background: white;
    z-index: 100;
    border: 1px solid gray;
    border-radius: 5px;
    max-height: 440px;
    min-height: 400px;
    left: 50%;
    margin-left: -325px;
}
.div-dialog-cabecalho {
    height: 35px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid gray;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: linear-gradient(#F6F6F6, #DFDFDF);
    background: #F6F6F6;
    background: -moz-linear-gradient(#F6F6F6, #DFDFDF);
    background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#DFDFDF));
    background: -webkit-linear-gradient(#F6F6F6, #DFDFDF);
    background: -o-linear-gradient(#F6F6F6, #DFDFDF);
    background: -ms-linear-gradient(#F6F6F6, #DFDFDF);
    background: linear-gradient(#F6F6F6, #DFDFDF);
}
.div-dialog-cabecalho-titulo {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 13px;
    text-decoration: none;
    color: #555;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    font-weight: bold;
    letter-spacing: .2px;
}
.div-dialog-cabecalho-fechar {
    position: absolute;
    right: 8px;
    top: 5.5px;
    cursor: pointer;
    background-repeat: no-repeat;
}
.div-dialog-conteudo {
    position: absolute;
    top: 36px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.div-float-left {
    float: left;
    padding: 2px;
}
.div-clear-both {
    clear: both;
}
.select-campos-consulta {
    width: 300px;
}
.btn-consulta {
    margin-left: 4px;
    margin-top: -1px;
    padding: 3px 2px 4px 4px;
}
.campo-consulta {
    width: 198px;
    margin-top: 1px;
    float: left;
}
.div-dados-consulta {
    border: 1px solid gray;
    border-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 3px;
    padding: 5px 8px 5px 8px;
}
.div-grid-consulta {
    border: 1px solid gray;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin: 3px;
    overflow-y: scroll;
    overflow-x: auto;
    position: absolute;
    top: 57px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.div-campo {
    float:left;
    padding-left:6px;
}
.div-menu-opcoes {
    position: absolute;
    right: -1px;
    top: 100%;
    display: block;
    padding: 3px;
    background: #6299c5;
    width: 215px/*180px*/;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 95;
}
.div-item-menu-opcoes {
    padding: 7px;
    color: white;
    text-align: right;
}
.div-item-menu-opcoes:hover {
    background: skyblue;
}
.div-item-menu-opcoes:first-of-type {
    border-top-left-radius: 6px;
}
.div-item-menu-opcoes:last-of-type {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
/* ***************************** */
.div-dados-processos {
    position: absolute;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px 8px 5px 8px;
    bottom: 3px;
    top: 3px;
    left: 3px;
    right: 3px;
}
.btn-processos {
    margin:0 8px 0 0;
    background-color:#f5f5f5;
    border: 1px solid #9F9F9F;
    border-top:1px solid #D0D0D0;
    border-left:1px solid #D0D0D0;
    font-family: Verdana;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color: #000000;
    cursor:pointer;
    padding:5px 10px 6px 7px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    border-radius: 3px;
}
.btn-processos img {
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}
.btn-processos:hover {
    background-color:#dff4ff;
    border:1px solid #6299c5;
    color:#336699;
}
.btn-processos:active {
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

.div-btn-processos {
    padding: 30px 15px 15px 15px;
    text-align: center;
}

.form-processos {
    padding: 8px 80px 0px 80px;
    height: 100%;
}

.btnFk {
    width: 25px;
    height: 22px;
    margin-left: 3px;
    margin-top: 2px;
}
.btnFk img {
    width: 15px;
    height: 15px;
    margin-left: -3px;
}